<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
 
    <script src="script.js"></script>

    <link rel="stylesheet" href="/css/print_style.css">

</head>
<body class="print-tight">
    
    <div id="container_cv" class="container">
        <div id="row_cv" class="row">

            <div class="col-12 col-lg-4 left-col">

                <section id="FOTO">
                    <img src="/images/Foto.jpg" class="img-fluid py-0 px-3 rounded-5 mx-5 my-3" style="max-width:350px;" alt="Foto">
                </section>
                
                <section id="CONTATTI" class="py-0 px-3 mx-5 my-3">
                    <h4 style="font-size: 25px">CONTATTI</h4>
                    <a href="mailto:bruno.varadero90@gmail.com">bruno.varadero90@gmail.com</a><br>
                    <a href="tel:+39330949857">+(39) 330 949 857</a><br>
                    <a href="https://www.linkedin.com/in/bruno-padula-b35732257/" target="_blank">LinkedIn</a>
                    <span> | </span>
                    <a href="https://github.com/Bruno0190" target="_blank">GitHub</a>
                </section>

                <section id="COMPETENZE_TECNICHE" class="py-0 px-3 mx-5 my-3">
                    <h4 style="font-size: 25px">COMPETENZE TECNICHE</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>MySQL</li>
                        <li>Spring/Spring Boot</li>
                    </ul>
                </section>

                <section id="PROGETTI" class="py-0 px-3 mx-5 my-3">
                    <h4 style="font-size: 25px">PROGETTI</h4>
                    <ul>
                        <li><strong>Ticket platform - Boolean tech academy:</strong><br>
                            Backoﬃce per la piattaforma di richieste supporto per assistenza tecnica di un prodotto.
                        </li>
                        <li><strong>Agency Form – Luise Associates Srl:</strong><br>
                            Ecosistema digitale completamente integrato, dove Google Forms, Outlook, PDF Forms e Excel sono stati collegati tramite JavaScript e macro VBA in un unico workflow automatizzato per raccolta dati, gestione documentale e generazione delle pratiche marittime.
                        </li>
                    </ul>
                </section>
        
            </div>

            <div class="col-12 col-lg-8 right-col">

                <section id="NOME_TITOLO" class="mb-3">
                    <h2 style="font-size: 45px;">Bruno Padula</h2>
                    <h3 style="font-size: 30px; margin-bottom: 30px;">Technical Project Manager - Back-end Developer</h3>
                </section>
                

                <section id="PROFILO" class="mb-3">
                    <h3 style="font-size: 25px;color:cornflowerblue;">PROFILO</h3>
                    <p style="margin-bottom: 20px;">
                        Dieci anni di esperienza nella gestione operativa e amministrativa nel settore raccomandatario marittimo, con specializzazione recente in sviluppo web. Ho fondato e coordinato un dipartimento operativo, conseguendo risultati concreti (fatturato di ~820.000€ e 2.400+ pratiche gestite). Attualmente approfondisco Data Analytics e Power BI per integrare analisi avanzata nei progetti di trasformazione digitale.
                    </p>
                </section>

                <section id="ESPERIENZA" class="mb-3">
                    <h3 style="font-size: 25px;color:cornflowerblue;">ESPERIENZA</h3>
                    <h4 style="font-size: 20px">
                        <strong>Luise Associates Srl, Napoli<br>(02/2016 - 10/2025)</strong>
                    </h4>
                    <h4 style="font-size: 16px; font-weight:400;">
                        <em>Agenzia marittima leader in assistenza yachting e servizi amministrativi per grandi navi da diporto private e commerciali
                        </em>
                    </h4>
                    <h5 style="font-size: 16px">
                        <u>Responsabile amministrativo</u><br>
                        <span class="text-muted">(01/2025 - 10/2025)</span>
                    </h5>
                    <ul>
                        <li><strong>Governance & Compliance: </strong>
                            delega con procura institoria per la gestione e firma di atti amministrativi
                        </li>
                        <li><strong>Project Management Tools & Methodologies: </strong>
                            supervisione completa del dipartimento Formalities (4 risorse)
                        </li>
                        <li><strong>Digital Transformation & System Integration: </strong>
                            consolidamento del sistema digitale e sviluppo di una versione avanzata
                        </li>
                        <li><strong>KPI Monitoring: </strong>
                            2.400+ comunicazioni, 200+ imbarchi, 260 sbarchi, 600+ pratiche ambientali, fatturato ~820.000€
                        </li>
                    </ul>
                    <h5 style="font-size: 16px">
                        <u>Responsabile operativo</u><br>
                        <span class="text-muted">(07/2021-12/2024)</span>
                    </h5>
                    <ul>
                        <li><strong>Process Automation: </strong>
                            creazione del nuovo dipartimento Formalities, struttura e standard operativi
                        </li>
                        <li><strong>Project Management Tools & Methodologies: </strong>
                            selezione, formazione e affiancamento del personale
                        </li>
                        <li><strong>Digital Transformation & System Integration: </strong>
                            avvio della creazione di un sistema digitale interno (2023–2024)
                        </li>
                        <li><strong>KPI Monitoring: </strong>
                            1.300+ comunicazioni, 80 imbarchi/sbarchi, fatturato ~762.560€
                        </li>
                    </ul>
                    <h5 style="font-size: 16px">
                        <u>Agente di Sicurezza impianto portuale deputa</u><br>
                        <span class="text-muted">(11/2016 – 01/2025)</span>
                    </h5>
                    <ul>
                        <li><strong>Compliance & Risk Management: </strong>
                            revisione e custodia del Port Facility Security Plan
                        </li>
                        <li><strong>Project Management Tools & Methodologies: </strong>
                            coordinamento personale sicurezza, pianificazione ed esecuzione di esercitazioni e addestramento
                        </li>
                        <li><strong>Governance & Audit: </strong>
                            gestione ispezioni annuali con Capitaneria
                        </li>
                    </ul>
                    <h5 style="font-size: 16px">
                        <u>Impiegato addetto al disbrigo pratiche</u><br>
                        <span class="text-muted">(02/2016 – 06/2021)</span>
                    </h5>
                    <ul>
                        <li><strong>Operational Support: </strong>
                            pratiche Capitaneria, Dogana, Sanità per navi in arrivo/partenza, pratiche di frontiera (cambio equipaggi stranieri, rilascio visti Schengen)
                        </li>
                        <li><strong>Document Management and Compliance: </strong>
                            coordinamento operativo con autorità e terminal; controllo documentale IMO/ISPS/SOLAS
                        </li>
                        <li><strong>KPI Monitoring: </strong>
                            comunicazioni 60→300+, imbarchi/sbarchi 20→50, pratiche ambientali 5→100
                        </li>
                    </ul>
                </section>

                <section id="ISTRUZIONE" class="mb-3">
                    <h3 style="font-size: 25px;color:cornflowerblue;">ISTRUZIONE E FORMAZIONE</h3>
                    <ul>
                        <li><strong>Master Data Analytics - Boolean tech Academy</strong><br>
                            <span class="text-muted">(10/2025 - in corso)</span><br>
                            6 mesi di corso sull’analisi dei dati con SQL, Python, Statistics, Excel, Power BI, Machine Learning
                        </li>
                        <li><strong>Master Web Developer - Boolean tech Academy</strong><br>
                            <span class="text-muted">(11/2024 - 08/2025)</span><br>
                            320 ore di corso sullo sviluppo di applicazioni web MVC o API.<br>
                            <a href="https://raw.githubusercontent.com/Bruno0190/CV/refs/heads/main/picture/Certificate%20WEB%20DEVELOPMENT.jpg" target="_blank" class="link-primary">
                                Visualizza certificato
                            </a>
                        </li>
                        <li><strong>Raccomandatario Marittimo - Camera di commercio di Napoli</strong><br>
                            <span class="text-muted">(11/2024)</span><br>
                            Attività di raccomandatario marittimo ai sensi della 
                            <a href="https://www.gazzettaufficiale.it/eli/id/1977/04/22/077U0135/sg">
                                LEGGE 4 aprile 1977, n. 135
                            </a>
                        </li>
                        <li><strong>Diploma maturità classica - Liceo Classico</strong><br>
                            <span class="text-muted">(06/2009)</span>
                        </li>
                    </ul>
                </section>

                <section id="LINGUE" class="mb-3">
                    <h3 style="font-size: 25px;color:cornflowerblue;">LINGUE</h3>
                    <ul>
                        <li><strong>Italiano: </strong>Madrelingua</li>
                        <li><strong>Inglese: </strong>QECR C1 - CAMBRIDGE English CAE</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    
    <footer id="cv_footer" class="d-flex justify-content-between m-3">
        <div class="bottone_scarica_pdf">
            <button onclick="window.location.href='/genera-pdf'">
                Scarica PDF
            </button>
        </div>
        <p id="trattamento_dati" class="text-end" style="font-size: 12px;">
            Autorizzo il trattamento dei miei dati personali presenti<br> nel CV ai sensi dell’art. 13 d. lgs. 30 giugno 2003 n. 196-<br> “Codice in materia di protezione dei dati personali”<br> e dell’art. 13 GDPR 679/16 -
        </p>
    </footer>
</body>
</html>